
  .avatar {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    width: 3.875rem;
    height: 3.875rem;
    border-radius: 50%;
    padding: 1.5px;
  }

  .bgClr {
    background: #3b342b26;
  }

  .headerButton {

    margin-top: 5px;
  }
