<div class="text-right bgClr">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark responsive-main-header" id="navbar-main"
    style="z-index: 10;">
    <div class="container-fluid headerButton" style="height: 36px;">
        
        <a class="nav-link pr-0 dropdown" href="" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="align-items-center">

                <span class="avatar" style="background: #26C3D1;">
                    <div class="text-center font-weight-700" style="color: #fff;margin-top: 11px;">Logout
                    </div>     
                </span>
            </div>
        </a>
    </div>
</nav>
</div>