.ml_160 {
    margin-left: 160px;
}

.ml_10 {
    margin-left: 10rem;
}

.back-btm{
    float: right;
    margin-right: 10rem;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.card-body {

    padding: 0rem 5.5rem;
}

.pegBtm {

    margin-left: 5rem;
    padding: 5px;
}
