.ml_160 {
    margin-left: 160px;
}

.ml_10 {
    margin-left: 10rem;
}

.back-btm{
    float: right;
    margin-right: 10rem;
}

.img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
}

.search-input {
    border       : 1px solid #6242f5;
    box-sizing   : border-box;
    border-radius: 4px !important;
    width: 100% !important;
}

.search-position {
    top  : 30%;
    right: 8%;
}

.hero-search {

    padding-right: 15rem;
    margin-right: 15rem;
    float: right;
}

.card-body {

    margin: 0rem 5rem;
}

.pegbtm {

    margin-left: 5rem;
}